SECRET=Your_JWT_Secret_Key

MONGO_URL=Your_Mongodb_Url

PORT=8000

RAZORPAY_SECRET=YOUR_RAZORPAY_SECRET_KEY

RAZORPAY_KEY=YOUR_RAZORPAY_KEY

CLOUDINARY_CLOUD_NAME=xxxx

CLOUDINARY_API_KEY=xxxx

CLOUDINARY_API_SECRET=xxxx